<div class="wrap">
    <header class="header">
        <a href="#" class="active">金融</a><a href="#">服务</a><i class="icon iconfont icon-fangdajing"></i>
    </header>
    <section class="main">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="Content/Img/img1_02.jpg" alt="图片无法正常显示"></div>
                <div class="swiper-slide"><img src="Content/Img/img1_02.jpg" alt="图片无法正常显示"></div>
                <div class="swiper-slide"><img src="Content/Img/img1_02.jpg" alt="图片无法正常显示"></div>
                <div class="swiper-slide"><img src="Content/Img/img1_02.jpg" alt="图片无法正常显示"></div>
                <div class="swiper-slide"><img src="Content/Img/img1_02.jpg" alt="图片无法正常显示"></div>
                <div class="swiper-slide"><img src="Content/Img/img1_02.jpg" alt="图片无法正常显示"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="shopCar">
            <a href="#">
                <i class="icon iconfont icon-Instagram" style="background:#ff6666;"></i>
                <b>车商城</b>
            </a>
            <a href="#">
                <i class="icon iconfont icon-gouwuche" style="background:#ff9d3e;"></i>
                <b>分期购车</b>
            </a>
            <a href="#">
                <i class="icon iconfont icon-zhihu" style="background:#ff6666;"></i>
                <b>团购活动</b>
            </a>
            <a href="#">
                <i class="icon iconfont icon-fenlei-xuanzhong" style="background:#4183ff;"></i>
                <b>找二手车</b>
            </a>
        </div>
        <div class="shop">
            <div class="div">
                保养预约<span>68</span>折 爱车浪漫购
            </div>
        </div>
        <div class="driver">
            <p>车主服务</p>
            <div class="server">
                <a href="#">
                    <i class="iconfont" style="color:#f85858;">&#xe640;</i>
                    <b>油卡充值</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#6dc9a9;">&#xe63f;</i>
                    <b>低价保险</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#7861ef;">&#xe63e;</i>
                    <b>4S店保养</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#0aa570;">&#xe64b;</i>
                    <b>品质轮胎</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#ff5002;">&#xe649;</i>
                    <b>车品商城</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#4183ff;">&#xe64a;</i>
                    <b>洗车</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#ff4e00;">&#xe648;</i>
                    <b>违章代缴</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#e94645;">&#xe647;</i>
                    <b>免费测评</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#6b9eff;">&#xe646;</i>
                    <b>查周边</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#0aa570;">
                        &#xe64d;</i>
                    <b>车主卡</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#4183ff;">&#xe64e;</i>
                    <b>领券保养</b>
                </a>
                <a href="#">
                    <i class="iconfont" style="color:#5f5f5f;">&#xe651;</i>
                    <b>全部</b>
                </a>
            </div>
        </div>
        <div class="special">
            <p>活动专区 <span>更多活动<i class="icon iconfont icon-angle-right"></i></span></p>
            <div class="specialKind">
                <dl>
                    <dd>
                        <h4>测身价炫富</h4>
                        <h6>身价大PK</h6>
                    </dd>
                    <dt>
                        <img src="Content/Img/img3_06.jpg" alt="图片无法正常显示">
                    </dt>
                </dl>
                <dl>
                    <dd>
                        <h4>全场0利率</h4>
                        <h6>购车无压力</h6>
                    </dd>
                    <dt>
                        <img src="Content/Img/img4_07.jpg" alt="图片无法正常显示">
                    </dt>
                </dl>
                <dl>
                    <dd>
                        <h4>好车分期</h4>
                        <h6>定制专属方案</h6>
                    </dd>
                    <dt>
                        <img src="Content/Img/img5_07.jpg" alt="图片无法正常显示">
                    </dt>
                </dl>
            </div>
        </div>
        <div class="guess">
            <p>猜你喜欢 <span>更多<i class="icon iconfont icon-angle-right"></i></span></p>
            <div class="guessLike">
                <dl class="car">
                    <dt><img src="Content/Img/car1_11.jpg" alt="图片无法正常显示"></dt>
                    <dd>
                        <h3>上汽大众-全新旅途L</h3>
                        <p>上汽大众-全新旅途L享2年0利率</p>
                        <h5>1元<u>1.44万</u></h5>
                    </dd>
                </dl>
                <dl class="car">
                    <dt><img src="Content/Img/car2_11.jpg" alt="图片无法正常显示"></dt>
                    <dd>
                        <h3>上汽大众-全新旅途L</h3>
                        <p>上汽大众-全新旅途L享2年0利率</p>
                        <h5>1元<u>1.44万</u></h5>
                    </dd>
                </dl>
                <dl class="car">
                    <dt><img src="Content/Img/car3_11.jpg" alt="图片无法正常显示"></dt>
                    <dd>
                        <h3>上汽大众-全新旅途L</h3>
                        <p>上汽大众-全新旅途L享2年0利率</p>
                        <h5>1元<u>1.44万</u></h5>
                    </dd>
                </dl>
                <dl class="car">
                    <dt><img src="Content/Img/car4_11.jpg" alt="图片无法正常显示"></dt>
                    <dd>
                        <h3>上汽大众-全新旅途L</h3>
                        <p>上汽大众-全新旅途L享2年0利率</p>
                        <h5>1元<u>1.44万</u></h5>
                    </dd>
                </dl>
            </div>
        </div>
    </section>
    <footer class="footer">
        <a href="#">
            <i class="icon iconfont icon-shouye"></i>
            <b>首页</b>
        </a>
        <a href="#">
            <i class="icon iconfont icon-zanting3"></i>
            <b>论坛</b>
        </a>
        <a href="#">
            <i class="icon iconfont icon-fenxiang3"></i>
            <b>选车</b>
        </a>
        <a href="#">
            <i class="icon iconfont icon-kefu"></i>
            <b>发现</b>
        </a>
        <a href="#">
            <i class="icon iconfont icon-yonghu"></i>
            <b>未登录</b>
        </a>
    </footer>
</div>